/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 de fev. de 2022, 09:31:36
    Author     : marcel
*/
@font-face {
font-family: "Lato";
src: url("/fonts/Lato-Regular.ttf");

}

@font-face {
font-family: "Lato-Bold";
src: url("/fonts/Lato-Bold.ttf"); 

}


body{
    font-family: Lato;
}

b{
    font-family: Lato-Bold;
}

.header nav{
 background: none;    
}

.header{
    background-image: url('/img/dsk/01-desktop.jpeg');
    min-height: 600px;
    min-width: 1440px;
    background-color: #000000 ;
}
.header .subtitle .ex{
        color: #FCB242;
}
.ex2{
        color: #FCB242;
        
}

.header .search #hr{
    color:  #C2C1C0;
    padding-left: 2px;
    padding-top:  1.5em;
    
}

.text-base-2{
 color: #402A18;
 line-height: 1.75em;
 font-size:  1.125em;
 font-weight: 400;
     margin-top: 1.5625em;
}

.section .section2-texts{
    padding-left: 80px;
}

.section .section-texts{
    padding-left: 5em;
}

.section-texts-2{
    width: 32.125em;
}


.section .section-3-title{
    font-weight: 400;
    font-size: 3.375em;
    line-height: 1em;
    color: #402A18;
}

.section{
 min-height:     21.875em;
 padding-left: 8.625em;
 padding-top: 3.125em;
 
}



.subtitle-4{
   font-weight: 400; 
   font-size:  2.5em;
   line-height:  1.125em;
   color: #402A18;
}

.section-img img{
    
    height: 26.4em;
    width:  40em;
    float: left;
    margin-right: 10px;
}


.section-img .right-part{
    width: 30em;
    float: left;
    margin-right:  0.625em;
    margin-top:  0.625em;
        padding:  1.875em 0 0  1.875em;
}

.section-img{
    background-color: #EFDFD3;
        max-width: none;
   min-height: 27.5em;
 padding: 0;
 margin-top: 0.625em;
}


.btn-change{
    margin-top: 0.625em;
    background-color: #FB9E10;
    color: white;
    width:  12.84375em;
    height:  3.5em;
    font-size: 1.125em;
    font-weight: 900;
    border-radius:  2em;
    padding: 0.75em;
}

.subtitle-5{
   font-weight: 700; 
   font-size: 1.5em;
   line-height: 1.5em;
   color: #402A18;
}

.subtitle-5 i {
   margin-right:  0.625em;
}

.subsection-5 {
  font-weight: 400; 
   font-size: 1.125em;
   line-height:  1.75em;
   color: #402A18;
}


.subtitle-2{
   font-weight: 400; 
   font-size: 56px;
   line-height: 1.125em;
   color: #402A18;
}


.header .search a{
    width: 12.875em;
    padding: 0.875em;
    border-radius:  2em;
    background-color: #FB9E10;
    color: white;
}
.header .search input{
    width: 23%;
    height:  2.875em;
    border: none;
    
} 

.header .search{
    background-image: url('/img/dsk/bg copy.png');
    width: 65.75em;
    height: 6em;
    margin-left: 19.125em;
    padding-left:  3.125em;
    padding-top: 1.75em;
   
        
}
    
.header .subtitle{
    margin-left: 4.125em;
    margin-top: 1.25em;;
    font-weight: 700;
   font-size: 3.5em;
   line-height:  3em;
   color: white;
}
    
.header .navbar-brand{
   background-image: url('/img/dsk/logo-branca.png') ;
   width:  9.3125em;
   height:  3.6875em;
   margin-left: 11.5625em;
   
   
}


.nav-link {
    font-weight: 900;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #FFFFFF !important;
    
}

#navbar-top{
    float: right;
    margin-left: 12.5em  ;
}

.sing1{
     position: absolute;
     width:29.155em;
     height: 25.32125em;
        left: -11.25em;
}


.footer{
    background-color: #402A18;
    height: 14em;
}

.footer-logo{
    padding-left:  5.125em;
    /*padding-top: 3.625em;*/
}

.footer-icons a{
    
    background-color: #FCB242;
    color: white;
    border-radius: 2.5em;
    padding: 0.75em;
    margin-right: 0.625em;    
    font-size: 1.125em;
}

.footer-icons{
    
    color: white;
    padding: 2em;
    padding-left: 7em;
    padding-top: 5em;
       
}

.footer-text{
    font-size:  0.8125em;
    color: white;
    font-weight: 400;
    margin-top: 0.625em;
}