/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 de fev. de 2022, 09:31:36
    Author     : marcel
*/
@font-face {
font-family: "Lato";
src: url("/fonts/Lato-Regular.ttf");

}

@font-face {
font-family: "Lato-Bold";
src: url("/fonts/Lato-Bold.ttf"); 

}


body{
    font-family: Lato;
}

b{
    font-family: Lato-Bold;
}

.header nav{
 background: none;    
}

.header{
    background-image: url('/img/dsk/01-desktop-transparencia-comprimida.jpg');
     background-size: cover;
    min-height: 600px;
    min-width: 100%;
    
}

.header-nobackground{
    background-image: none !important;
     background-size: cover;
}

.header .subtitle .ex{
        color: #FCB242;
}
.ex2{
        color: #FCB242;
        
}

.header .search #hr{
    color:  #C2C1C0;
    padding-left: 2px;
    padding-top:  1.5em;
    
}

.text-base-2{
 color: #402A18;
 line-height: 1.75em;
 font-size:  1.125rem;
 font-weight: 400;
     margin-top: 1.5625em;
}

.section .section2-texts{
    padding-left: 80px;
}

.section .section-texts{
    padding-left: 2.5em;
}

.section-texts-2{
    width: 32.125em;
}


.section .section-3-title{
    font-weight: 400;
    font-size: 2.475rem;
    line-height: 1em;
    color: #402A18;
}

.section{
 min-height:     21.875em;
 padding-left: 8.625em;
 padding-top: 3.125em;
 float: left;
 width: 100%;
}



.subtitle-4{
   font-weight: 400; 
   font-size:  2.0rem;
   line-height:  1.2em;
   color: #402A18;
}

.section-img img{
    
    float: left;
    margin-right: 10px;
}


.section-img .right-part{
    width: 28em;
    float: left;
    margin-right:  0.625em;
    margin-top:  0.625em;
        padding:  1.875em 0 0  1.875em;
}

.section-img{
    background-color: #EFDFD3;
        max-width: none;
 padding: 0;
 margin-top: 0.625em;
}


.btn-change{
    margin-top: 0.625em;
    background-color: #FB9E10;
    color: white;
    width:  12.84375em;
    height:  3.5em;
    font-size: 1.125rem;
    font-weight: 900;
    border-radius:  2em;
    padding: 0.75em;
}

.subtitle-5{
   font-weight: 700; 
   font-size: 1.5rem;
   line-height: 1.5em;
   color: #402A18;
}

.subtitle-5 i {
   margin-right:  0.625em;
}

.subsection-5 {
  font-weight: 400; 
   font-size: 1.125rem;
   line-height:  1.75em;
   color: #402A18;
}


.subtitle-2{
   font-weight: 400; 
   font-size:  3.5rem;
   line-height: 1.125em;
   color: #402A18;
}


.header .search a{
    width: 12.68em;
    padding: 0.655rem;
    border-radius:  2em;
    background-color: #FB9E10;
    color: white;
        margin-left: 0.7rem;
}
.header .search input{
    width: 23%;
    height:  2.875em;
    border: none;
    
} 

.font-24px{
    font-size: 1.5em;
}

.font-18px{
    font-size: 1.125em;
        margin-bottom: 10px;
}

.p-b-5{
    padding-bottom: 3em;
}
.text-center{
    text-align: center;
}

.form-check-input:checked {
    background-color: #FB9E10;
    border-color: #FB9E10;
}

.header .search-container{
    margin-left:  6.875rem;
    width: 90%;
    padding: 2em;
}

.header .search-pos2{
    background-color: white;
    border-radius: 26px;
   margin-left: 1.125rem;
   
        
}
.header .search-pos2 i{
    color: #FCB242 ;
   
        
}

.header .search-pos2 select{
    width: 20%;
    height:  2.875em;
    border: none;  
    border-radius: 10px;
    font-size: 20px;    
    margin-right: 10px;
}

.header .search-pos2 select option{
    
    height:  2.875em;
    border: none;  
    border-radius: 10px;
    font-size: 20px;    
    margin-right: 10px;
}

.header .search-pos2 input{
    width: 23%;
    height:  3.875em;
    border: none;  
    font-size: 20px;    
}

.header .search-pos2 a{
    width: 206px;
    height: 64px;
    margin-left: 3em;
    margin-bottom: 0.5em;

}

.result-item h4{
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 31px;
}

.result-item b{
    font-size: 1em;
    line-height: 18px;
    font-weight: 700;
}

#results{
    margin-top: 2em;
}

.result-item{
   margin-bottom: 2em;  
}

.header .search{
    background-image: url('/img/dsk/bg copy.png');
    background-size: cover;
    width: 56.75em;
    height: 6em;
    margin-left: 11.125rem;
    padding-left: 3.125rem;
        padding-top: 1.45rem;
   
        
}
    
.header .subtitle-search {
    
     text-align: center;
    margin-top: 1.25em;
    font-weight: 700;
   font-size: 3.5rem;
   line-height:  3em;
   color: white;
}
.header .subtitle-search2{
    
    text-align: center;
    margin-bottom: 1.25em;
    font-weight: 400;
   font-size: 24px;
   line-height:  2em;
   color: white;
}
.header .subtitle-search3{
    
    text-align: center;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    font-weight: 700;
   font-size: 2em;
   line-height:  38px;
   color: white;
}

.header .subtitle{

    margin-top: 1.25em;
    font-weight: 700;
   font-size: 2.7rem;
   line-height:  3em;
   color: white;
       text-align: center;
}
    
.header .navbar-brand{
   background-image: url('/img/dsk/logo-branca.png') ;
    width: 7.3125em;
    height: 3.00075em;
       margin-left: 6.5625rem;

   
   
}
.header .navbar-brand-black{
   background-image: url('/img/dsk/logo-escura.png') ;
   width:  9.3125em;
   height:  3.6875em;
       margin-left: 6.5625rem;

   
   
}

.nav-item{
    margin-left: 1rem;
  
}

.nav-link-black {
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.5em;
    color: #402A18 !important;
          text-decoration:  none !important;

    
}
.nav-link {
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.5em;
    color: #FFFFFF !important;
      text-decoration:  none !important;
    
}

.filter-side{
    background-color: #F6EDE6;
}


.font-black{
    color:#402A18 !important;
}

#navbar-top{
    float: right;
    margin-left: 33.875rem  ;
}

.carousel-caption2{
    color: black;    
    border: #ED604F solid 1px;
    border-radius: 20px;
    text-align: justify;
    width: 48%;
    float:left;
    margin-right: 10px;
    padding: 32px 24px 32px 24px;
    height: 100%;
}

.carousel-item-title{
    font-size: 24px;
    line-height: 28px;
}
.carousel-item-text{
    font-size: 18px;
    line-height: 28px;
}


.sing1{
     position: absolute;
     width:29.155em !important;
     height: 25.32125em;
        left: -11.25em;
            top: 57em;
}

.sing2{
     position: absolute;
     width:29.155em !important;
     height: 25.32125em;
        left: -16.25em;
        top: 114em;
}

.sing3{
position: absolute;
    width: 29.155em !important;
    float: right;
    height: 24.32125em;
    right: -15em;
    top: 92em;
}


.footer{
    background-color: #402A18;
    height: 14em;
    float:left;
    width: 100%;
}

.footer-logo{
    padding-left:  5.125em;
    padding-top: 3.625em;
}

.footer-icons a{
    
    background-color: #FCB242;
    color: white;
    border-radius: 2.5em;
    padding: 0.75em;
    margin-right: 0.625em;    
    font-size: 1.125rem;
}

.footer-icons{
    
    color: white;
    padding: 2em;
    padding-left: 7em;
    padding-top: 5em;
       
}

.footer-text{
    font-size:  0.8125rem;
    color: white;
    font-weight: 400;
    margin-top: 0.625em;
}

.carousel-inner{
    height: 100%;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

#see-more{
    width: 100%;
    height: 56px;
    border: #FCB242 solid 3px;
    border-radius: 25px;
}

.btn-lgx{
    width: 167px;
    height: 56px;
    border-radius: 28px;
}

.m-t-10{
 margin-top:10px;    
}

.btn-lgxx{
    width: 350px;
    height: 56px;
    border-radius: 28px;
}

.font-16px{
    font-size:16px;
}

.font-14px{
    font-size:16px;
}

.bottom-section-detail{
    margin-top: 80px;
}